.info-section {
  background-color: rgb(32, 32, 32);
  padding: 5%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.info-container {
  font-size: 2rem;
  text-align: center;
  padding: 8%;
  background-color: rgb(236, 236, 236);
}

.info-header {
  font-size: 6rem;
  font-weight: 800;
}

.info-text {
  font-size: 2rem;
  line-height: 1.6;
}

.info-subheading {
  font-size: 4rem;
}

.counts {
  font-size: 10rem;
  font-weight: 800;
  color: crimson;
}

.percent {
  font-size: 10rem;
  font-weight: 800;
  color: crimson;
}

.footer-bar {
  width: 100%;
  background-color: crimson;
  height: 10px;
}
