.info-section {
  background-color: rgb(32, 32, 32);
  padding: 5%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.arrow-down {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 20rem solid transparent;
  border-right: 20rem solid transparent;
  border-top: 5rem solid rgb(32, 32, 32);
}

.info-container {
  font-size: 2rem;
  text-align: center;
  padding: 12% 8% 3% 8%;
  margin-top: -10rem;
}

.info-header {
  font-size: 6rem;
  font-weight: 800;
}

.info-text {
  font-size: 2.5rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}

.info-subheading {
  font-size: 4rem;
}

.counterOne {
  font-size: 10rem;
  font-weight: 800;
  color: crimson;
}

.percent {
  font-size: 10rem;
  font-weight: 800;
  color: crimson;
}

.footer-bar {
  width: 100%;
  background-color: crimson;
  height: 10px;
}

.heading-confirm {
  width: 90%;
  font-weight: 800;
  margin: 0 auto;
}
